<div class="row">
	<div class="col-xs-12 well">
		<h3>{{id}} - {{title}} {{#if check}} <i class="fa fa-check text-success"></i> {{else}} <i class="fa fa-times text-danger"></i> {{/if}}</h3>
		<p class="lead">{{deck}}</p>
		<div>{{body}}</div>
	</div>
</div>